.root {
  display: flex;
  justify-content: center;
  padding: 60px 30px;
  background-size: cover;
  background-attachment: fixed;
}

.menu {
  background-image: url("../../assets/menu-1.jpg");
}

.party {
  background-image: url("../../assets/party-1.jpg");
}

.gifts {
  background-image: url("../../assets/gifts-1.jpg");
}

.budapest {
  background-image: url("../../assets/budapest-x.jpg");
}

.red {
  background: rgb(255, 79, 79);
  color: white;
}
