.root {
  display: flex;
  justify-content: center;
  padding: 60px 30px;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: lighten;
  background-size: cover;
  background-attachment: fixed;
}

.menu {
  background-image: url("../../assets/menu.jpg");
}

.party {
  background-image: url("../../assets/party.jpg");
}

.gifts {
  background-image: url("../../assets/gifts.jpg");
}

.budapest {
  background-image: url("../../assets/budapest.jpg");
}

.red {
  background: rgb(255, 79, 79);
  color: white;
}
