.root {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("./hero.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: 35%;
}

.title {
  font-family: var(--font-display);
  text-align: center;
  color: white;
}
