.bud1 {
  background-image: url("../../assets/budapest-1.jpg");
}

.bud2 {
  background-image: url("../../assets/budapest-2.jpg");
}

.bud3 {
  background-image: url("../../assets/budapest-3.jpg");
}

.root img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row {
  display: flex;
}

.col {
  width: 50%;
  background-size: cover;
}

@media (max-width: 991px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
  .imgLeft .col:first-of-type {
    order: 2;
  }
  .imgLeft .col:last-of-type {
    order: 1;
  }
}
